arxiv  
bs4  
cassio  
chromadb  
crewai  
crewai_tools  
duckdb  
duckduckgo_search==5.3.1b1  
faiss-cpu  
fastapi  
google-cloud-aiplatform>=1.38
google-generativeai
gradio
huggingface_hub  
ipykernel  
lamini  
langchain  
langchain-community  
langchain-chroma  
langchain-experimental 
langchain_google_genai 
langchain-groq  
# langchain-hub  
langchain-huggingface  
langchain-nvidia-ai-endpoints  
langchain-openai  
langchain-text-splitters  
langgraph  
langserve  
langsmith  
mysql-connector-python  
neo4j==5.14  
numexpr  
openai  
pandas
pathlib
pdf2image  
pymupdf  
python-dotenv  
pypdf  
PyPDF2
pytube  
sentence_transformers  
SQLAlchemy  
sse_starlette  
tiktoken  
unstructured  
uvicorn  
validators==0.28.1  
wikipedia  
youtube_transcript_api  